# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Backend
backend/node_modules/
backend/.env
backend/npm-debug.log*
backend/pnpm-debug.log*

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store

# Misc
*.log
